* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-transform: inherit;
    -webkit-letter-spacing: inherit;
    -moz-letter-spacing: inherit;
    -ms-letter-spacing: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-align-items: normal;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    min-width: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

header {
    display: block;
    unicode-bidi: isolate;
    font-size: "helvetica neue", helvetica,arial,sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}



/* Header */
.css-10oa23d {
    background-color: rgb(224, 5, 133);
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    justify-content: center;
    border-radius: 0px;
    border-width: 0px;
    min-height: 48px;
    padding: 0px 16px;
}

.css-rlv9m5 {
    position: relative;
    width: 1248px;
    justify-content: center;
    display: flex;
}

.css-1a1535f {
    width: auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-mjstvl {
    flex-direction: column;
    flex: 1 1 0%;
    text-align: center;
    display: flex;
    padding: 4px 0px;
    justify-content: center;
}

/* .css-1gjpuh8 > :where(h1,h2,h3,h4,h5,h6,li,p) {
    white-space: pre-wrap;
} */

.css-1gjpuh8 h1 > span, .css-1gjpuh8 h2 > span, .css-1gjpuh8 h3 > span, .css-1gjpuh8 h4 > span, .css-1gjpuh8 h5 > span, .css-1gjpuh8 h6 > span, .css-1gjpuh8 p > span, .css-1gjpuh8 li > span {
    display: contents;
}

b, strong {
    font-weight: 700;
}

sup {
    top: -.5em;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/* Thanh tìm kiếm ,menu và menu con */
.css-wxytes {
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.css-17rgt6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: -8px;
    position: relative;
}

.css-vrdatw {
    font-size: 30px;
    display: block;
}
/* Thanh search */
.css-817iol {
    flex: 1 1 0%;
    padding-left: 16px;
    padding-right: 8px;
}

.css-79elbk{
    position: relative;
}

.css-7boy05 {
    position: relative;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
    /* -webkit-align-items: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-vkf4am {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* -webkit-clip-path: inset(50%); */
    clip-path: inset(50%);
    border: 0px;
}

.css-1jlnwea {
    position: relative;
    /* -webkit-flex: 1; */
    flex: 1;
}

.css-1mhpjr2 {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    /* height: 44px; */
    /* background-color: #fff; */
    border-width: 1px;
    /* border-color: #ccc; */
    /* border-radius: 4px; */
    /* height: 36px; */
    border-radius: 9999px;
    background-color: #f6f6f8;
    border-color: #000;
    height: 32px;
}

.css-95c4hc {
    position: relative;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-flex: 1; */
    /* -ms-flex: 1; */
    flex: 1;
    margin: -1px;
}

.css-1tivfj7 {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
    /* -webkit-align-items: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* -webkit-flex: 1; */
    /* -ms-flex: 1; */
    flex: 1;
    font-family: inherit;
    font-size: 14px;
    margin: 1px;
    /* padding-left: 16px; */
    padding-right: 12px;
    color: #000;
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    /* webkit-appearance: none; */
    /* padding-left: 12px; */
    padding-left: 34px;
}

.css-1i3swsx {
    display: inline-block;
    width: 1em;
    height: 1em;
    /* position: relative; */
    vertical-align: text-bottom;
    fill: currentColor;
    /* -webkit-flex-shrink: 0; */
    /* -ms-flex-negative: 0; */
    flex-shrink: 0;
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 8px;
    left: 12px;
    pointer-events: none;
}

.css-1ay57tz {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: default;
    /* -webkit-user-select: none; */
    /* -webkit-user-select: none; */
    /* -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    display: none;
}

.css-10lcs1y{
    display: flex;
    margin-left: -16px;
}

.css-1f685i8 {
    display: flex;
    height: 62px;
}

.fresnel-greaterThan-sm {
    display: none !important;
}

.fresnel-container {
    right: 8px;
    position: absolute;
    margin: 0;
    padding: 0;
}

.css-1xpribl {
    position: relative;
    display: block;
}

.css-l06t9d {
    display: flex;
    /* -webkit-align-items: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.25;
    height: 100%;
}

.css-3a5k3u {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: text-bottom;
    fill: currentColor;
    /* -webkit-flex-shrink: 0; */
    /* -ms-flex-negative: 0; */
    flex-shrink: 0;
    font-size: 24px;
    margin-right: 12px;
    margin-top: -.125em;
}

.css-3a5k3u {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: text-bottom;
    fill: currentColor;
    /* -webkit-flex-shrink: 0; */
    /* -ms-flex-negative: 0; */
    flex-shrink: 0;
    font-size: 24px;
    margin-right: 12px;
    margin-top: -.125em;
}

.css-1q5mxsd {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    /* max-width: 28ch; */
    display: block;
    font-size: 11px;
    padding-bottom: 4px;
    margin-bottom: -4px;
    color: rgb(102, 102, 102);
}

.css-61z7fq {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 375px;
    transition: all 0.2s ease 0s;
    left: 50%;
    margin-left: -187.5px;
}

.css-hs5vzv {
    overflow-y: auto;
    max-height: 592px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    border-radius: 6px;
}

.css-hjly1 {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.25;
    display: block;
}

.css-5o2pj {
    justify-content: center;
    padding-bottom: 8px;
    display: flex;
}

.css-1lebnsz {
    font-size: 12px;
    padding: 0.25em 0.875em;
    min-height: 32px;
    max-height: 32px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s ease 0s;
    min-width: 5.5em;
}

button {
    cursor: pointer;
    border-radius: 0;
}

.css-1ax423f {
    border-bottom: 8px solid rgb(246, 246, 248);
    border-top-color: rgb(246, 246, 248);
    border-right-color: rgb(246, 246, 248);
    border-left-color: rgb(246, 246, 248);
    margin: 16px -16px;
}

.css-1f082br {
    cursor: pointer;
    padding: 16px;
    margin: -16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.css-k008qs {
    display: flex;
}

.css-jfd1ls {
    width: 52px;
    height: 52px;
    margin-right: 12px;
    display: inline-block;
    max-width: 100%;
}

.css-q72hon {
    flex: 1 1 0%;
    display: block;
}

.css-10kjsk5 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: block;
    margin-top: 0.25em;
    color: rgb(102, 102, 102);
    font-size: 12px;
}

.css-1dfazj {
    border-bottom: 1px solid rgba(0, 0, 0, 0.063);
    border-top-color: rgba(0, 0, 0, 0.063);
    border-right-color: rgba(0, 0, 0, 0.063);
    border-left-color: rgba(0, 0, 0, 0.063);
    margin: 16px -16px;
}

.css-1cifznr {
    margin-top: 16px;
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
}

.css-wwg9my {
    cursor: pointer;
    padding: 12px;
    margin-top: -12px;
    margin-bottom: -12px;
    color: rgb(19, 107, 234);
    display: inline-block;
}

.css-y7zkw9 {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.css-5il83v {
    height: 100%;
    position: relative;
    display: block;
}

.css-4mloke {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.25;
    height: 100%;
    min-width: 13em;
}

.css-pyox5n {
    border-radius: 99999px;
    overflow: hidden;
    object-fit: cover;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-bottom: -4px;
    margin-right: 12px;
    display: inline-block;
    max-width: 100%;
}

.css-shwact {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 12px;
    font-weight: 700;
    display: block;
}

.css-1rsg842 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 11px;
    display: block;
}

.css-10klw3m {
    height: 100%;
}

.css-1andsh2 {
    position: static;
    height: 100%;
    display: block;
}

.css-1mbd5ga {
    height: 100%;
    padding: 16px 12px;
    position: relative;
    display: flex;
    align-items: center;
    /* height: 54px; */
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    line-height: 0;
}

.css-xzh1je {
    position: absolute;
    left: 50%;
    bottom: -32px;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    transform: rotate(-45deg);
}

.fresnel-at-xs {
    display: none !important;
}

.css-psp8z9 {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: text-bottom;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
}

.css-o6917l {
    min-width: 40px;
}

.css-9uy14h {
    width: 24px;
    height: 24px;
}

.css-86pdg3 {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 0;
    /* height: 54px; */
    /* padding-left: 8px; */
    /* padding-right: 8px; */
}

.css-1yxzl95 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(207, 17, 44);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    right: -7px;
}

.css-da6h7g {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 0;
    /* height: 54px; */
    /* padding-left: 8px; */
    /* padding-right: 8px; */
}

.css-11vfs83 {
    position: absolute;
    bottom: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
    transform: rotate(-45deg);
}

.css-16ktqrb {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 375px;
    transition: all 0.2s ease 0s;
    left: auto;
    right: 0px;
}

.css-ado95j {
    overflow-y: auto;
    max-height: 256px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    border-radius: 6px;
}

.css-9qioup {
    position: relative;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.css-1kfs0ri {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    height: 0px;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: opacity 0.2s ease 0s;
}

.css-wxytes {
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.css-1e0yu9s {
    display: flex;
    justify-content: space-between;
    margin-left: -16px;
    margin-right: -16px;
    overflow: hidden;
    min-height: 44px;
}

.css-1p9oei7 {
    position: static;
    display: flex;
    flex-grow: 1;
}

.css-hzvn5z {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1.25;
    padding: 8px;
    text-align: center;
}

.css-1nbympa {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease 0s;
}

.css-dajbc4 {
    border-width: 0px 0.375em 0.4375em;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-color: transparent;
    border-top-style: initial;
    border-top-color: initial;
    border-bottom-style: solid;
    border-bottom-color: initial;
    font-size: 1.25em;
    display: block;
}

.css-sg63yx {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 1;
    width: 100%;
}

.css-1nht1ee {
    overflow-y: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.css-wxytes {
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.css-8m9mm5 {
    display: flex;
    line-height: 1.25;
    margin-left: -12px;
    margin-right: -12px;
}

.css-1kczxm6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.css-6n4eoa {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: var(--font-weight-bold);
}


/* Header */

/* main */
.css-wxytes {
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.css-9w1s77 {
    font-size: 12px;
    /* -webkit-align-items: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.25;
    color: #666;
    /* height: 40px; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
    height: 50px;
}

.css-70qvj9 {
    display: flex;
    align-items: center;
}

.css-sdfa4l {
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    display: inline-block;
}

.css-42nw7 {
    display: inline-block;
    vertical-align: middle;
    stroke: currentcolor;
    width: 0.571429em;
    height: 1em;
    font-size: 0.5em;
    margin-left: 8px;
    margin-right: 8px;
}

.css-1v7u6og {
    /* margin-bottom: 24px; */
    line-height: 1.25;
    /* gap: 12px; */
    display: grid;
    position: relative;
}

.css-11zrkxf {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.25;
    /* margin-bottom: 8px; */
}

.css-11cofee {
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
}

.css-1pgnl76 {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
}

.css-42r6cu {
    /* -webkit-flex-direction: column; */
    /* -ms-flex-direction: column; */
    flex-direction: column;
    gap: .5em;
    font-size: 12px;
    /* margin-bottom: 8px; */
    background-color: #f6f6f8;
    padding: 8px;
    border-radius: 4px;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    margin-bottom: 16px;
}

.css-1g8klpm {
    /* -webkit-align-items: center; */
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
    line-height: 1;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
}

.css-whkkt7 {
    cursor: pointer;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
}

.css-1tbjoxk {
    display: block;
    color: #000;
    font-size: 12px;
    /* width: calc(5em + 0.668em); */
    height: 1em;
    position: relative;
    overflow: hidden;
    line-height: 0;
    text-align: left;
}

.css-92vnvr {
    display: inline-block;
    background-image: url(/img/ufe/icons/star-outline.svg);
    background-size: cover;
    width: 1em;
    height: 1em;
}

.css-m88no0 {
    display: inline-block;
    background-size: cover;
    width: 1em;
    height: 1em;
    margin-left: 0.167em;
}

.css-j7llew {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
}

.css-1be0bml {
    display: inline-block;
    background-size: cover;
    width: 1em;
    height: 1em;
}

.css-1j53ife {
    font-weight: var(--font-weight-bold);
    margin-left: .4em;
    position: relative;
    top: .09em;
}

.css-1h05c0w {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: .5em;
    margin-right: .5em;
    color: #ccc;
}

.css-6gy1hv {
    cursor: pointer;
    padding: .5em;
    margin: -.5em;
    display: inline-block;
    position: relative;
    top: 1px;
}

.css-k008qs {
    display: flex;
}

.css-ukpfk7 {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: text-bottom;
    fill: currentColor;
    /* -webkit-flex-shrink: 0; */
    /* -ms-flex-negative: 0; */
    flex-shrink: 0;
    font-size: 11px;
    top: 1px;
}

.css-jk94q9 {
    margin-left: .4em;
    position: relative;
    top: .09em;
}

.css-13amwq4 {
    cursor: pointer;
    --color: 19, 107, 234;
    /* -webkit-text-decoration: underline; */
    text-decoration: underline;
    /* -webkit-text-decoration-color: rgba(var(--color), .3); */
    text-decoration-color: rgba(var(--color), .3);
    text-underline-offset: 1px;
    /* -webkit-transition: text-decoration-color .2s; */
    transition: text-decoration-color .2s;
    color: #136BEA;
    padding: 4px;
    margin: -4px;
    display: inline-block;
}

.css-1tzthcm {
    font-size: 12px;
    line-height: 1;
    /* -webkit-align-items: center; */
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
}

.css-1b4yla5 {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-align-items: center; */
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    min-height: 35px;
}

.css-7lbkes {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-align-items: baseline; */
    /* -webkit-box-align: baseline; */
    /* -ms-flex-align: baseline; */
    align-items: baseline;
    -webkit-flex-wrap: wrap;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
}

.css-18jtttk {
    margin-right: .25em;
    min-width: auto;
    white-space: nowrap;
}

.css-y4ps0g {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    /* -webkit-flex: 85%; */
    /* -ms-flex: 85%; */
    flex: 85%;
}

.css-qnfcdm {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #cf112c;
    font-weight: 700;
}

.css-xm4yxq {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
}

.css-lxw2t3 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.css-1acq48o {
    width: 42px;
    height: 10px;
    display: inline-block;
    max-width: 100%;
    position: relative;
    top: 0.5px;
}

.css-epvm6 {
    white-space: nowrap;
}

.css-1kwvkxi {
    width: 66px;
    height: 12px;
    display: inline-block;
    max-width: 100%;
    position: relative;
    top: 3px;
}

.css-on8aoh {
    display: inline-block;
    vertical-align: baseline;
    padding: 8px;
    margin: -8px;
    line-height: 0;
    color: rgb(102, 102, 102);
}

.css-1n828gk {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: text-bottom;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 14px;
}

.css-v7bl16 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.css-1a2dflv {
    display: grid;
    grid-template-columns: minmax(40px, 56px) minmax(360px, 465px);
    /* -webkit-align-items: flex-start; */
    /* -webkit-box-align: flex-start; */
    /* -ms-flex-align: flex-start; */
    align-items: flex-start;
    -webkit-box-pack: justify;
    /* -webkit-justify-content: space-between; */
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
    gap: 32px;
}

.css-1dh8gd {
    display: flex;
    overflow: auto hidden;
    scrollbar-width: none;
    overscroll-behavior-x: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.css-1dh8gd > :first-child {
    margin-left: auto;
}

.css-sautd6 {
    width: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
}

.css-b8zput {
    display: block;
    pointer-events: none;
    border-radius: 4px;
}

.css-sautd6 > * {
    width: 100%;
    flex-shrink: 0;
}

.css-3c349a {
    position: relative;
    overflow: hidden;
    margin-top: -4px;
    padding-bottom: 800%;
}
/* main */